<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="style.css" />
    <script src="angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
    <script src="angular-route.js"></script>
    <script src="script.js"></script>
    <title>Movie Search | OMDb API</title>
</head>

<body ng-app="OMDbAPISearch">
    <div class="container" ng-controller="searchMovies">

        <h1>Search a Movie Title Below</h1>
        <p>Using API from--> (<a href="http://www.omdbapi.com" target="_blank">http://www.omdbapi.com</a>)</p>
        <form>
            <div class="search">
                <input id="theSearch" ng-model="searchparam" placeholder="movie name" type="text" ngTrim="true" />
                <button ng-click="fetch()">Search</button>
                <div class="clear"></div>
            </div>
        </form>

        <div class="results">

            <div class="result" movie-srch-results ng-repeat="movie in movieResults"></div>

        </div>
        <div class="noResults">
            <p>no result found</p>
        </div>

    </div>
</body>

</html>